@page "/About"

<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/earth.png" alt="" width="30" height="24" class="d-inline-block align-text-top me-2">
            It's Getting Hot in Here
        </a>
    </div>
</nav>
<div class="container text-center">
<h1>About</h1>
</div>

@code {
    
}