@page "/"
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/earth.png" alt="" width="30" height="24" class="d-inline-block align-text-top me-2">
            It's Getting Hot in Here
        </a>
    </div>
</nav>
<PageTitle>It's Getting Hot in Here</PageTitle>

<h1>It's Getting Hot in Here'</h1>

<ul>
    <li>
        <NavLink href="MainGame">Start Game</NavLink>
    </li>
    <li>
        <NavLink href="LeaderBoard">Leaderboard</NavLink>
    </li>
    <li>
        <NavLink href="Settings">Settings</NavLink>
    </li>
    <li>
        <NavLink href="About">About</NavLink>
    </li>
</ul>


