/* /Components/GameView.razor.rz.scp.css */
#earth-div[b-98ecvrgk37] {
    width: fit-content;
    margin: 3rem auto 3rem auto;
}

img:active[b-98ecvrgk37] {
    filter: invert(15%);
}

card[b-98ecvrgk37] {
    background-color: #9DD495;
}
/* /Components/MainButton.razor.rz.scp.css */
#earth-div[b-jjyy2wmono] {
    width: fit-content;
    margin: 3rem auto 0 auto;
}

img:active[b-jjyy2wmono] {
    filter: invert(10%);
}
/* /Components/MainLayout.razor.rz.scp.css */
.page[b-0vqy54o621] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0vqy54o621] {
    flex: 1;
}

.sidebar[b-0vqy54o621] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0vqy54o621] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0vqy54o621]  a, .top-row[b-0vqy54o621]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-0vqy54o621]  a:hover, .top-row[b-0vqy54o621]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-0vqy54o621]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0vqy54o621] {
        display: none;
    }

    .top-row.auth[b-0vqy54o621] {
        justify-content: space-between;
    }

    .top-row[b-0vqy54o621]  a, .top-row[b-0vqy54o621]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0vqy54o621] {
        flex-direction: row;
    }

    .sidebar[b-0vqy54o621] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0vqy54o621] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-0vqy54o621]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-0vqy54o621], article[b-0vqy54o621] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fobxcqnc88] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fobxcqnc88] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fobxcqnc88] {
    font-size: 1.1rem;
}

.oi[b-fobxcqnc88] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fobxcqnc88] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fobxcqnc88] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fobxcqnc88] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fobxcqnc88]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fobxcqnc88]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fobxcqnc88]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fobxcqnc88] {
        display: none;
    }

    .collapse[b-fobxcqnc88] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Pages/About.razor.rz.scp.css */
nav[b-b8j2vurwk8] {
    background-color: #7ed0e0;
}

    nav a[b-b8j2vurwk8] {
        text-decoration: none;
        color: white;
    }
/* /Pages/Index.razor.rz.scp.css */
h1[b-0ibgapu2vt] {
    color: #4cd4e4;
    display: block;
    font-size: min(7vh, 7vw);
    text-align: center;
    width: 100%;
}

ul[b-0ibgapu2vt] {
    padding-left: 0px;
    text-align: center;
    width: 100%;
}

li[b-0ibgapu2vt] {
    color: #4cd4e4;
    font-size: min(4vh, 4vw);
    list-style-type: none;
    padding-bottom: min(1.5vh, 1.5vw);
}

li:hover[b-0ibgapu2vt] {
    color: white;
}

nav[b-0ibgapu2vt] {
    background-color: #7ed0e0;
}

    nav a[b-0ibgapu2vt] {
        text-decoration: none;
        color: white;
    }
/* /Pages/MainGame.razor.rz.scp.css */
nav[b-xbcylfecav] {
    background-color: #7ed0e0;
}

nav a[b-xbcylfecav] {
    text-decoration: none;
    color: white;
}
